{{#if updatePost}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h1>Update Post:</h1>
  </div>
  <div class="panel-body">
    <div>
      <form>
        <div class="form-group">
        <label for="title">Post Title</label>
        {{input class="form-control" value=title id="title" placeholder=post.title}}
      </div>
      <!-- <div class="form-group">
        <label for="tags">Category/Tag</label>
        {{input class="form-control" value=tags id="tags"}}
      </div> -->
      <div class="form-group">
        <label for="content">Content</label>
        {{textarea class="form-control" rows="6" value=content id="content" placeholder=post.content}}
      </div>
      <div class="panel-footer">
        <button class="btn bg-info"{{action 'update' post}}>Update</button>
      </div>
      </form>
    </div>
    <button class="btn bg-danger" {{action 'delete' post}}>Delete Post</button>
  </div>
</div>


{{else}}
  <button class="btn bg-info"{{action 'updatePostFormShow'}}>Update Post</button>
{{/if}}
