<h3>Welcome to Code Blog!</h3>
<h5>Browse blog entries below, or sign up and add your own!</h5>

<div class="row">
  <div class="col-xs-3 well">
    <h4>All Posts:</h4>
    <br>
    <ul>
      {{#each model.posts as |post|}}
        <li>{{post-tile post=post}}</li>
        <hr>
      {{/each}}
    </ul>
  </div>

  <div class="col-xs-6 well">
    {{#each model.posts as |post|}}
    {{#link-to 'post' post.id}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{post.title}}
      </div>
      <div class="panel-body">
        <p>
          {{post.preview}}.....
        </p>
      </div>
    </div>
    {{/link-to}}
    {{/each}}
  </div>

  <div class="col-xs-3 well">
    <h4>To write a new blog post, first select your user name or create a new one!</h4>
    {{new-user saveUser="saveUser" }}
    <br>
    <h4>Or, if you are already an existing user:</h4>

    <ul>
      {{#each model.users as |user|}}
        {{user-tile user=user}}
      {{/each}}
    </ul>
  </div>

</div>
