<div class="panel">

  <div class="panel-heading codehead">
    <h2>&lt; {{model.title}} &gt;</h2>
    <h3>{ By {{model.user.name}} } </h3>
  </div>
  <div class="panel-body codebody">
    <p>  {{model.content}}</p>
  </div>
  <div class="panel-footer codehead">
    <p> See more from {{#link-to 'user' model.user.id}}{{model.user.name}}{{/link-to}}</p>
  </div>





</div>
{{update-post post=model update="update" destroyPost="destroyPost"}}
<br>
