<div class="panel panel-default">

  <div class="panel-heading">
    <h2>{{model.title}}</h2>
    <h3>By {{model.user.name}}</h3>
  </div>
  <div class="panel-body">
    <p>  {{model.content}}</p>
  </div>
  <div class="panel-footer">
    <p> See more from {{#link-to 'user' model.user.id}}{{model.user.name}}{{/link-to}}</p>
  </div>





</div>
{{update-post post=model update="update" destroyPost="destroyPost"}}
<br>
